<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ManxAdsCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Pimpmaster" connectionString="Data Source=wks-02\sqlexpress;Initial Catalog=Pimpmaster;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="*Pimpmaster" connectionString="Data Source=lon-web-01\sqlexpress;Initial Catalog=Pimpmaster;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ErrorNotifyEmail" value="webmaster@rensoft.net"/>
    <add key="DefaultFromEmail" value="no-reply@manxads.com"/>
    <add key="DefaultMailServer" value="localhost"/>
  </appSettings>
  <applicationSettings>
    <ManxAdsCrawler.Properties.Settings>
      <setting name="PublishTimeout" serializeAs="String">
        <value>300</value>
      </setting>
    </ManxAdsCrawler.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
