<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EnableErrorReporting" value="False"/>
    <add key="MasterSmtpServer" value="mail.manxads.com"/>
    <add key="MasterSmtpUsername" value="website@manxads.com"/>
    <add key="MasterSmtpPassword" value="wjoxn2jeixq7kpu585tw"/>
    <add key="MasterSendFromEmail" value="ManxAds.com &lt;website@manxads.com&gt;"/>
    <add key="ErrorReportingRecipient" value="webmaster@rensoft.net"/>
    <add key="AdvertRequestEmail" value="webmaster@rensoft.net"/>
    <add key="CharityRequestEmail" value="webmaster@rensoft.net"/>
    <add key="TraderRequestEmail" value="webmaster@rensoft.net"/>
    <add key="WebmasterEmail" value="webmaster@rensoft.net"/>
    <add key="AdvertiseContactListingId" value="27"/>
    <add key="ErrorReportServiceUrl" value="http://errors.rensoft.net/ReportingService.asmx"/>
    <add key="OfflineForMaintenance" value="False"/>
    <add key="BugNoticeExpiryDate" value="2010-12-01"/>
  </appSettings>
  <connectionStrings>
    <add name="Pimpmaster" connectionString="Data Source=.\sqlexpress;Initial Catalog=ManxAdsWebsite;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="10240" executionTimeout="1200"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="ManxAdsAuth2" loginUrl="~/Logon.aspx" defaultUrl="~/UserHome.aspx" timeout="43200"/>
    </authentication>
    <customErrors defaultRedirect="~/GenericError.aspx" mode="Off">
      <error statusCode="404" redirect="~/FileNotFound.aspx"/>
    </customErrors>
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>