<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EnableErrorReporting" value="True" />
    <add key="MasterSmtpServer" value="mail.rensoft.net"/>
    <add key="MasterSmtpUsername" value="manxads-no-reply@auto-email.rensoft.net"/>
    <add key="MasterSmtpPassword" value="u0yM2OjCrAJ6Svl3wCOO"/>
    <add key="MasterSendFromEmail" value="manxads-no-reply@auto-email.rensoft.net"/>
    <add key="ErrorReportingRecipient" value="webmaster@rensoft.net" />
    <add key="AdvertRequestEmail" value="ad_request@manxads.com"/>
    <add key="CharityRequestEmail" value="charity-request@manxads.com"/>
    <add key="TraderRequestEmail" value="trader-request@manxads.com"/>
    <add key="AdvertiseContactListingId" value="152" />
    <add key="ReportingWebService.ReportingService" value="http://errors-int.rensoft.net/ReportingService.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="Pimpmaster" connectionString="Data Source=lon-web-01\sqlexpress;Initial Catalog=Pimpmaster;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="10240" executionTimeout="1200" />
    <compilation debug="false" />
    <authentication mode="Forms">
      <forms loginUrl="~/Logon.aspx" defaultUrl="~/UserHome.aspx" timeout="43200" />
    </authentication>
    <customErrors defaultRedirect="~/GenericError.aspx" mode="On">
      <error statusCode="404" redirect="FileNotFound.aspx" />
    </customErrors>
    <pages enableEventValidation="false" viewStateEncryptionMode="Never" />
    <machineKey validationKey="6CC3AC44DABB3E766129C6A0DA070B25248F7D22A299F808CC2BA92C9037E22A0AF55245820D6386D41B126B32AD1C99DCD7EE59F846D495316EECCB363057A9" decryptionKey="2F5AA8999534704D1CC5664A045B5E877A599BC72E3B3F49" validation="SHA1" />
  </system.web>  
</configuration>