<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Rensoft.ErrorReporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rensoft.ErrorReporting.Properties.Settings>
            <setting name="Rensoft_ErrorReporting_ErrorReportingWebService_ReportingService" serializeAs="String">
                <value>http://localhost:64652/ReportingService.asmx</value>
            </setting>
        </Rensoft.ErrorReporting.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
