<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rensoft.ManxAds.SchedulerConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Rensoft.ManxAds.SchedulerConsole.Properties.Settings.ManxAdsDatabase"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ManxAdsWebsite;Integrated Security=True" />
    </connectionStrings>
    <applicationSettings>
        <Rensoft.ManxAds.SchedulerConsole.Properties.Settings>
            <setting name="WebSiteBaseUrl" serializeAs="String">
                <value>http://www.manxads.com/</value>
            </setting>
            <setting name="EmailServer" serializeAs="String">
                <value>mail.rensoft.net</value>
            </setting>
            <setting name="EmailUsername" serializeAs="String">
                <value>manxads-no-reply@auto-email.rensoft.net</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>u0yM2OjCrAJ6Svl3wCOO</value>
            </setting>
            <setting name="EmailFromAddress" serializeAs="String">
                <value>manxads-no-reply@auto-email.rensoft.net</value>
            </setting>
            <setting name="EmailBccAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifySleep" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="EnableDebugMessages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WebsiteAbsolutePath" serializeAs="String">
                <value>C:\Websites\MNXD\manxads.com</value>
            </setting>
            <setting name="WebmasterEmail" serializeAs="String">
                <value>webmaster@manxads.com</value>
            </setting>
            <setting name="ListingCheckInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="SearchEngineCrawlInterval" serializeAs="String">
                <value>600000</value>
            </setting>
            <setting name="ListingAutoDeleteRunTime" serializeAs="String">
                <value>05:00</value>
            </setting>
            <setting name="ListingAbuseRunTime" serializeAs="String">
                <value>20:00</value>
            </setting>
            <setting name="EnableCrawler" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableChecker" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableScheduler" serializeAs="String">
                <value>False</value>
            </setting>
        </Rensoft.ManxAds.SchedulerConsole.Properties.Settings>
    </applicationSettings>
</configuration>