<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManxAds.Console.Properties.Settings.Database" connectionString="Data Source=.\sqlexpress;Initial Catalog=ManxAdsWebsite;Integrated Security=True" />
    </connectionStrings>
</configuration>